@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");
body {
  font-family: "Cormorant Infant", serif;
  background: azure;
  font-size: 16px;
}
.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header h1 {
  color: red;
  font-size: clamp(2rem, 3vw, 4rem);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  text-align: center;
}
.navigation {
  width: 100%;
  margin: 3% auto;
  display: flex;
  justify-content: center;
  gap: 3%;
}

.button-top {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
  font-weight: 600;
  outline: 0;
  padding: 10px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-top:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}
.button-top:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

input[type="text"] {
  padding: 14px 18px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.8px solid #bdc3c7;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #000;
  text-shadow: rgb(51 43 43 / 19%) 0px 3px 3px;
}
input[type="text"]:focus {
  border-color: #0078d0;
}
input[type="text"]:focus::placeholder {
  color: transparent;
  text-shadow: none;
}
@media (min-width: 768px) {
  .button-top {
    padding: 16px 48px;
  }
}
@media screen and (max-width: 900px) {
  .page {
    padding: 0 1rem;
  }
}
